<section class="container">
  <div class="col-lg-12">
    <h4><span class="bg-light">管理者ログイン</span></h4>
  </div>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :password, "パスワード" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </table>
      <% end %>

    <%= render "admin/shared/links" %>
    </div>
  </div>
</section>
