<section class="container">

  <h4 class="my-3"><span class="bg-light">注文情報確認</span></h4>

  <div class="row">

    <div class="col-lg-7">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <% @order.charge+=(cart_item.item.with_tax_price*cart_item.amount) %>
        <tbody>
          <tr>
            <td>
              <%= image_tag cart_item.item.get_image, size:"50x40" %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= (cart_item.item.with_tax_price).to_s(:delmited) %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              <%= (cart_item.item.with_tax_price*cart_item.amount).to_s(:delmited) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

    <div class="col-lg-3">
      <table class="table table-bordered">
        <tr>
          <th class="bg-light">送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th class="bg-light">商品合計</th>
          <td><%= (@order.charge).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="bg-light">請求金額</th>
          <td><%= (@order.postage+@order.charge).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-8">
      <p>
        <span class="font-weight-bold">支払方法</span>
        <%= @order.payment_method_i18n %>
      </p>

      <p>
        <span class="font-weight-bold">お届け先</span>
        <%= @order.address_display %>
      </p>
    </div>

    <div class="col-lg-10">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field:address_display, value: @order.address_display %>
        <%#= f.hidden_field:destination_address, value: @order.destination_address %>
        <%#= f.hidden_field:destination_name, value: @order.destination_name %>
        <%= f.hidden_field:payment_method, value: @order.payment_method %>
        <%= f.hidden_field:charge, value: @order.postage+@order.charge %>
        <%= f.submit "注文を確定する", class:"btn btn-success" %>
      <% end %>
    </div>

  </div>
</section>
