<section class="container">
  <h4 class="my-3"><span class="bg-light">注文履歴詳細</span></h4>

  <div class="row">

    <div class="col-lg-7">
      <p class="font-weight-bold">注文情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="bg-light">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="bg-light">配送先</th>
          <td><%= @order.address_display %></td>
        </tr>
        <tr>
          <th class="bg-light">支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-3">
      <p class="font-weight-bold">請求情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="bg-light">商品合計</th>
          <td><%= (@order.charge-@order.postage).to_s(:delmited) %></td>
        </tr>
        <tr>
          <th class="bg-light">配送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th class="bg-light font-weight-bold">ご請求金額</th>
          <td><%= (@order.charge).to_s(:delmited) %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-8">
      <p class="font-weight-bold">注文内容</p>
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.tax_price).to_s(:delmited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.tax_price*order_detail.amount).to_s(:delmited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</section>
