<div class="col-lg-8">
  <h4 class="my-3"><span class="bg-light">ログイン</span></h4>

  <div class="col-lg-8">
    <h6 class="my-3"><span class="bg-light">会員の方はこちらからログイン</span></h6>

    <%= form_with model: @customer, url: customer_session_path do |f| %>
    <table class="table table-borderless">
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
      </tr>
    </table>
    <% end %>
  </div>

  <div class="col-lg-8">
    <h6 class="my-3"><span class="bg-light">会員登録がお済みでない方</span></h6>
    <%= render "public/shared/links" %>から新規登録を行って下さい。
  </div>
</div>
